@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cat NOT";
}
<div class="row">
    <div class="small-6 large-centered columns">
        <a class="th radius" href="#">
            <img src="~/images/20140802_082549.jpg" />
        </a>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#Home").removeClass("active");
            $("#Building").removeClass("active");
            $("#Cat").addClass("active");
        });
    </script>
}