
<nav class="top-bar foundation-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <span data-tooltip class="has-tip" title="Geek Lunch ASP.NET vNext"><h1><a href="#">Geek Lunch</a></h1></span>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li id="Home">@Html.ActionLink("What's New", "Index", "Home")</li>
            <li id="Building">@Html.ActionLink("Demo", "Building", "Home")</li>
        </ul>
    </section>
</nav>

